.Hello {
  width: 100vw;
  height: 100vh;
  @apply flex flex-col justify-center items-center;
}

.Hello__logo {
  @apply mb-8;
}

.Hello__title {
  color: #036fde;
  @apply text-5xl font-bold;
}

.Hello__subtitle {
  @apply text-xl text-black;
}

.Hello__link {
  @apply text-gray-500 underline;
}
