extends ../layouts/template.pug

block content
  div
    h1(class="text-center mt-8 text-4xl font-bold") webkit-cli: tailwindcss
    h1(class="font-body text-center mt-8 text-4xl font-bold") webkit-cli: tailwindcss